$primary-blue: #1C9CF6;
$dark-blue: #1D71F2;
$light-blue: #19C3FB;
$neutral-blue: #E3F4FE;
$cream-white: #FFFAE0;
$yellow: #FFCD00;
$gray: rgba(92, 92, 92, 0.506);
$dark-gray: #6c757d;
$black: #252525;
$white: #f8f8f8;
$faint-red: #f26161a0;
$sharp-red: #ea0909;