@use "./partials/colors.scss" as *;
@use "./partials/breakpoints.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #app, #app>div {
  height: 100%;
  background-color: #252525;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  background-size: cover;
  padding-bottom: 3rem;

}

.searchbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  position: relative;

  &__input {
    outline: none;
    border: 1px solid $dark-gray;
    background-color: $gray;
    color: $white;
    padding: 1rem;
    font-size: 2rem;
  }

  &__options {
    display: flex;
    flex-direction: column;
  }
  &__option {
    padding: 0.25rem;
    color: $white;
  }

  &__icon {
    position: absolute;
    color: $white;
    min-height: 1.5rem;
    min-width: 1.5rem;
    position: absolute;
    right: 1.5rem;
    top: 2.5rem;

    @include tablet {
      min-height: 2rem;
      min-width: 2rem;
      right: 2rem;
      top: 2rem;
    }
  }
}

.card-gallery {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @include tablet {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
}

.loading {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 1.5rem;
  color: $cream-white;

  &__text {
    color: $cream-white;
  }
}




